# Secrets (CRITICAL)
.env

# Python junk
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# BMO Media/Data
# We ignore these so Elijah's face and BMO's photos aren't public
elijah.jpg
admin.jpg
bmo_vision.jpg
intruder_*.jpg

# OS Files
.DS_Store
Thumbs.db
